include ../nav-links/nav-links.pug

//- 
  options.title
  options.links
  options.text

mixin widget(options = {})
  - const blockName = "widget"
  DIV(class=blockName)
    H3(class=`${blockName}__title`)=options.title
    SECTION(class=`${blockName}__content`)
      if options.links
        NAV(class=`${blockName}__nav`)
          +nav-links({ navLinks: options.links })
      if options.text
        P(class=`${blockName}__text`)=options.text 
