//-
  options.isChecked
  options.name
  options.value
  options.label
  options.isDisabled
  options.isShort

mixin toggle(options = {})
  - const blockName = "toggle"
  LABEL(
    class=blockName
    class=options.isChecked ? `${blockName}_checked` : ""
    class=options.isShort ? `${blockName}_short` : ""
  )
    INPUT(
      class=`${blockName}__box`
      class=`js-${blockName}__box`
      class=options.isChecked ? `${blockName}__box_checked` : ""
      name=options.name
      value=options.value ? options.value : options.name
      type="checkbox"
      checked=options.isChecked ? true : false
      disabled=options.isDisabled ? true : false
    )
    SPAN(
      class=`${blockName}__label`
      class=options.isChecked ? `${blockName}__label_checked` : ""
    )=options.label ? options.label : options.value