//-
  options.isChecked
  options.name
  options.value
  options.label

mixin toggle(options = {})
  - const blockName = "toggle"
  - const { isChecked, name, value, label, isShort, isDisabled } = options

  LABEL(
    class=blockName
    class=`js-${blockName}`
    class=isChecked ? `${blockName}_checked` : ""
    class=isShort ? `${blockName}_short` : ""
  )
    INPUT(
      class=`${blockName}__box`
      class=`js-${blockName}__box`
      class=isChecked ? `${blockName}__box_checked` : ""
      name=name
      value=value ? value : name
      type="checkbox"
      checked=isChecked
      disabled=isDisabled
    )
    SPAN(
      class=`${blockName}__label`
      class=isChecked ? `${blockName}__label_checked` : ""
    )=label ? label : value