extends layout

block variables
  - var title = "MY-JQUERY-SLIDER"
  - var descr = "Создание собственного jQuery плагина"

block content
  form.configurator
    fieldset
      legend="Текущее значение"
      #value-slider
      input#value-field(type="number")
    fieldset
      legend="Минимальное значение"
      #min-slider
      input#min-field(type="number")
    fieldset
      legend="Максимальное значение"
      #max-slider
      input#max-field(type="number")
    fieldset
      legend="Шкала"
      label(for="#scale-toggle")="вкл/выкл"
      input#scale-toggle(type="checkbox" value=false)
      label(for="#scale-numeric")="числовая"
      input#scale-numeric(type="checkbox" value=false)
      label(for="#scale-named")="именная"
      input#scale-named(type="checkbox" value=false)
  .test-box
    #test-slider
  pre#config1
  #slider1
  pre#config2
  #slider2
  pre#config3
  #slider3
  pre#config4
  #slider4
  pre#config5
  #slider5
  pre#config6
  #slider6
  pre#config7
  #slider7
  pre#config8
  #slider8
  pre#config9
  #slider9
  pre#config10
  #slider10
  pre#config11
  #slider11
  pre#config12
  #slider12
  pre#config13
  #slider13
  pre#config14
  #slider14
  pre#config15
  #slider15
  pre#config16
  #slider16
  pre#config17
  #slider17
  pre#config18
  #slider18
  pre#config19
  #slider19
  pre#config20
  #slider20
  pre#config21
  #slider21
  pre#config22
  #slider22
  pre#config23
  #slider23
  pre#config24
  #slider24
  pre#config25
  #slider25
  pre#config26
  #slider26
  pre#config27
  #slider27
  pre#config28
  #slider28
  pre#config29
  #slider29
  pre#config30
  #slider30
  pre#config31
  #slider31
  pre#config32
  #slider32
  pre#config33
  #slider33
  pre#config34
  #slider34
  pre#config35
  #slider35
  pre#config36
  #slider36
  pre#config37
  #slider37
  pre#config38
  #slider38
  pre#config39
  #slider39
  pre#config40
  #slider40
  pre#config41
  #slider41
  pre#config42
  #slider42
  pre#config43
  #slider43
  pre#config44
  #slider44
  pre#config45
  #slider45
  div='-----------------------------------------------'
  pre#config46
  #slider46
  pre#config46-1
  pre#config46-2